<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Module Size</string>
			<key>footerText</key>
			<string>Will always be 1x1 if Prysm is installed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>moduleSize</string>
			<key>validValues</key>
			<array>
				<string>1x1</string>
				<string>2x2</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>1x1</string>
				<string>2x2</string>
			</array>
			<key>default</key>
			<string>2x2</string>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reboot Action</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>rebootAction</string>
			<key>validValues</key>
			<array>
				<string>reboot</string>
				<string>ldrestart</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Reboot</string>
				<string>ldrestart</string>
			</array>
			<key>default</key>
			<string>ldrestart</string>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>confirmations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
			<key>key</key>
			<string>RespringConf</string>
			<key>label</key>
			<string>Respring confirmation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
			<key>key</key>
			<string>RebootConf</string>
			<key>label</key>
			<string>Reboot confirmation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
			<key>key</key>
			<string>UICacheConf</string>
			<key>label</key>
			<string>UICache confirmation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
			<key>key</key>
			<string>SafemodeConf</string>
			<key>label</key>
			<string>Safemode confirmation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
			<key>key</key>
			<string>LockConf</string>
			<key>label</key>
			<string>Lock screen confirmation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.powermoduleprefs</string>
			<key>key</key>
			<string>PowerDownConf</string>
			<key>label</key>
			<string>Power down confirmation</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>creatorMethod</string>
			<key>label</key>
			<string>Muirey03 (@Muirey03)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icons Created By:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>creditsMethod</string>
			<key>label</key>
			<string>Macs (u/thecoderkiller)</string>
		</dict>
	</array>
	<key>title</key>
	<string>PowerModule</string>
</dict>
</plist>
