Package: com.muirey03.powermodule
Name: PowerModule
Depends: mobilesubstrate, com.opa334.ccsupport, preferenceloader
Version: 1.3.0
Architecture: iphoneos-arm
Description: Group different utility actions into one control center module (iOS 11 only)
Author: Muirey03
Section: Control Center (Modules)
Maintainer: Muirey03
Icon: https://auxiliumdev.com/depictions/powermodule/image.jpg
Depiction: https://auxiliumdev.com/depictions/powermodule/
